.gitignore
autom4te.cache/
po/man*/*\.[0-9].?
public/index.html
manpages-de-[0-9.]*.tar.xz
config.log
config.status
Makefile
upstream/*/downloads
po/needed-updates.json
po/*/archlinux
po/*/debian-unstable
po/*/opensuse-leap-15-4
po/*/fedora-rawhide
po/*/opensuse-tumbleweed
po/*/debian-bullseye
po/*/mageia-cauldron
